
<div class="page-container" style="background-color: #e3522d;">
  <div class="banner" style="height: 234px; background-image: url(https://farm4.staticflickr.com/3442/3204881565_e0f5e1bb0f.jpg);">
    <div class="banner-content" style="color: red;">
      <h1>Socktails Cocktails</h1>
        <p>Get Soxy.</p>
        <div class="cocktail-add-btn">
          <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <% @cocktails.each do |c| %>
          <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/500x400/?cocktail')">
              <div class="card-description">
                <h2><%= link_to c.name, cocktail_path(c) %></h2>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>


