<div class="form-container">
  <h1>Add a cocktail</h1>
    <%= simple_form_for(@cocktail) do |f| %>
      <h3><%= f.input :name %></h3>
      <div class="btn-form">
      <%= f.submit%>
      </div>
    <% end %>
</div>

