<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag "http://img3.wikia.nocookie.net/__cb20130403044510/seuss/images/8/88/Yink.png" %>
  <% end %>
      <div class="nav-item active">
        <%= link_to "Socktails Cocktails", cocktails_path, class: "nav-link" %>
  </div>
</div>
